.orderContainer {
  width: 30%;
  height: 90vh;
}

.orders {
  overflow-y: scroll;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #3f4c58;
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
